
body {font-family: helvetica, arial, sans-serif;
    font-size: 1.25em;}

#display-container {
    background-color: #787878;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

li {
  line-height: 2em;
}

span:hover  {
  font-size: 2em;
}

/* #a:hover ~ #b {
  background: #ccc
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #787878;
  color: white;
  text-align: center;

  margin: 0 25px 0 0 ;
}

.instructions {
  display: flex;
  align-items: stretch;
  align-content: center;
  /* padding: 3px; */
  /* margin: 3px; */
  background-color: lightskyblue;
}

.item {
  font-size: 0.8em;
  margin: 4px;
  padding:15px 5px ;
  flex-grow: 3;
    line-height: 1.2em;
    text-align: justify;
}
.instructions h2 {
  color:blue;
  text-align:left;
  font-size: xx-large;
  border: 2px solid black;
}
.instructions h6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 2px solid black;
}
.wireframe {
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
}

.tab {
  padding-left:2em
}

.doubletab {
  padding-left:3em
}