
body {font-family: 'Noto Serif KR', serif, helvetica, arial, sans-serif;
    font-size: 1.25em;

  }



#display-container {
    background-color: #787878;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}



.footer {
  display: flex;
justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  margin: 0 25px 0 0 ;
  padding: 0 25px 0 0 ;
}
footer a {
  color: white;
}
.instructions {
  display: flex;
  align-items: stretch;
  align-content: center;
  /* font-family: 'Patrick Hand SC', cursive; */
  /* padding: 3px; */
  /* margin: 3px; */

}

.item {
  font-size:large;
  font-family: 'Patrick Hand SC', cursive;
  margin: 4px;
  padding:15px 5px ;
  flex-grow: 3;
    line-height: 1.2em;
    text-align: justify;
}


.instructions h2 {

  text-align:left;
  border: 2px solid black;
}

.wireframe {

  border: 5px solid black;
  font-size: x-small;
}

.tab {
  padding-left:2em
}

.doubletab {
  padding-left:3em
}

span .gibberish:hover {
transform: scale(4);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ol {
  overflow: hidden;
}
ol > li {
    list-style: decimal ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
